@charset "UTF-8";

input, select, button {vertical-align:middle; appearance:none; -webkit-appearance:none; -moz-appearance:none;}

/*font*/
::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {color:#666;}
body, input, button, select, textarea {
    font-family:'SUIT-Medium';
}

/*main_layout*/
.mainBox{
	display:block;
	width:1100px;
	margin:auto;
}
.div_title{
	height:55px;
}
.title{
	display:block;
	position:relative;
	width:1100px;
	margin-inline:120px auto;
	margin-bottom: 20px;
    padding: 25px 0 14px;
    font-family:'SUIT-Medium';
}
.bottom_hr{
	width:250px;
    margin-inline: 100px;
    color:black;
}
.table_wrap {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 12px 12px;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px;
    margin-top: 40px;
    margin-inline: 100px;
    margin-right: 100px;
}
.main_table{
	width:100%;
	border-top: 1px solid #BBBBBB;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    margin-inline: 0px auto;
    margin-right:100px;
}
.th_basic{
    height: 45px;
    padding: 7px 4px;
    font-size: 15px;
    text-align: left;
    border-bottom: 1px solid #EEEEEE;
    width:180px;
}
.th_last{
	height: 45px;
    padding: 7px 4px;
    font-size: 15px;
    text-align: left;
    width:180px;
}
.td_basic{
	height: 45px;
    text-align: left;
    border-bottom: 1px solid #EEEEEE;
    padding: 7px 4px;
    font-size: 15px;
}
.td_last{
	height: 45px;
    text-align: left;
    padding: 7px 4px;
    font-size: 15px;
}

.btn_wrap{
	margin: 60px 0;
    text-align: center;
    clear:both;
}

.bottom_div{
    height: 80px;
    margin-inline: 120px 0 20px;
    margin-right: 100px;
    padding-bottom: 3px;
    border-top: 1px solid #CECCC1;
    margin-left: 100px;
    margin-right: 100px;
}

.fl_r {
    float: right !important;
}

/*input*/
/*text*/
.input_text_basic{
	height:40px;
	line-height:40px;
	padding:0 18px;
	border-radius:4px;
	-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;
	font-size:14px;
	box-sizing:border-box;
	border:1px solid #DDD;
	background-color: #F8F8F8;
}
.input_text_basic min{
	width:100px;
}

/*button*/
button > * {position:relative;} /* 클릭할떄 문자 흔들림 방지용!! */
button{
	border:1px solid #DDD;
	cursor:pointer;
	background-color:#fff;
}
.button_main, .button_sub {
    vertical-align: middle;
    border: 1px solid #DDD;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    height: 45px;
    line-height: 43px;
    padding: 0 18px;
    margin: 0 3px;
    min-width: 160px;
    text-decoration: none;
}
.button_main{
    color: #ffffff !important;
    background-color: #414141;
}
.button_sub {
    color: #000000 !important;
    background-color: #ffffff;
}
.caution{
	margin-top: 12px;
	padding-left: 20px;
    font-size: 13px;
    color: #666;
    background: url(/movieJoa/img/icon/caution.png) no-repeat 0 1px;
}
.text_c{
	text-align: center !important;
}


