@charset "UTF-8";
.td_image{
	width:180px;
}
.td_date{
	width:120px;
}
#pwd2{
	position: relative;
	left:155px;
}
e{
	position: relative;
	top:5px;
	left:180px;
	font-size:10px;
}
.span{
	position: absolute;
	top:2px;
	left:350px;
}

.sid{
	width:200px;
}
.sdate{
	width:180px;
}

.bordercontent{
	width: 700px;
	height:auto;
	padding-left:25px;
	padding-bottom:25px;
	text-align:left;
}

.bordertype{
	width:100px;
	border:none;
}
.bordersubject{
	padding-left:20px;
	text-align:left;
}
.readnum{
	width:170px;
}

.readnumW{
	width:150px;
}
.borderhead{
	height:50px;
	background-color :#EEEEEE;
}

.manyHelpBorderW{
 	border-collapse: collapse;	
	height:auto;
	width: 700px;
	align:center;
}

.deletebutton{
	background-color: #F05650;
	color: white;
	cursor:pointer;
	outline:0;
	border:0;
	font-size:12px; 
	padding:8px 40px;
}

.img{
	height:70px;
	width:70px;
}

.mymenubar > a:hover{
	color:#F05650;
}

.My_bar_a{
	color:black;
}

.My_bar{
	display: block;
	height:40px;
	width: 200px;
	background-color: white;
	margin-left:3px;
	line-height: 40px;
}

.My_bar_a > dt:hover{
	color:white;
  background-color:#F05650;
}


.fileimage{
	position: absolute;
	top:0px;
	left:220px;
	height:100px;
	width:100px;
	display:inline-block;
}

.ad{
	position: relative;
	text-align:center;
	font-size:10px;
}
.ad_hr{
	position: relative;
	width:75%;
	left:60px;
}
.file{
	position: relative;
	left:120px;
	top:80px;
}
#P_title1{
	position:absolute;
	top:127px;
}
.p_content2_2{
	position: relative;
	right:60px;
	height:100px;
}

#p_button1_b{
	background-color:#4B89DC;
	font-size:15px!important;
	width:120px;
	color: white;
	text-align:center;
	cursor:pointer;
	border : 2px #4B89DC;
	border-colro:#4B89DC;
	padding:8px 10px;
}
#p_button2_b{
	background-color:#F05650;
	font-size:15px!important;
	width:200px;
	color: white;
	text-align:center;
	cursor:pointer;
	border : 2px #F05650;
	border-colro:#F05650;
	padding:10px 10px;
}
#e_f{
	height:16px;
	
}

#e_m{
	height:16px;
}

.e_b{
	height:23px;
	width:80px;
}

.tell_F{
	height:20px;
	width:50px;
}
#tell_mid{
	height:16px;
	width:80px;
}
#tell_bot{
	height:16px;
	width:80px;
}
.p_content1{
	position: relative;
	right:147px;
}
.p_content2{
	position: relative;
	right:147px;
}
.p_content3{
	position: relative;
	right:147px;
}
.p_content4{
	position: relative;
	right:147px;
}
.p_content0{
	position: relative;
	right:147px;
}
.P_title{
	position: absolute;
	left:7px;
}

.p_button1{
	position: absolute;
	right:30px;
	top:0px;
}

.p_button2{
	position: relative;
	top:0px;
}

.content_button{
	background-color:#4B89DC;
	font-size:15px!important;
	width:80px;
	color: white;
	text-align:center;
	cursor:pointer;
	border : 2px #4B89DC;
	border-colro:#4B89DC;
	padding:1px 8px;
}

.content_button_div{
	position: absolute;
	top:180px;
	left:420px;
}

.content_input{
	height:30px;
	width:240px;
}

.content_input_div{
	position: absolute;
	top:175px;
	left:148px;
}

.content_subject{
	position: absolute;
	top:180px;
	left:35px;
	font-size:18px;
	font-weight : bold;
}

.popup_Explanation1{
	position: absolute;
	left:150px;
	top:125px;
	font-size:14px;
	
}

.popup_Explanation{
	position: absolute;
	left:180px;
	top:95px;
	font-size:20px;
	font-weight : bold;
}

.p_hr1{
	border: 0px;
	height: 1px;
	background-color: #F05650;
	position: relative;
	top:300px;
	width:130%;
	left:20px;
}

.p_hr{
	border: 0px;
	height: 1px;
	background-color: #F05650;
	position: relative;
	top:50px;
	width:130%;
	left:20px;
}

.popup_subject{
	background-color: #F05650;
	color:white;
	position: absolute;
	left:20px;
	top:1px;
	font-size:25px;
	padding:8px 15px;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
}
.popup_main{
	position: relative;
	height:400px;
	width:400px;
}

.serchBar_sub_p{
	position: absolute;
	top:70px;
	left:23px;
	font-size:18px;
	font-weight : bold;
}
.serchBar_date_p{
	position: absolute;
	top:64px;
	left:135px;
	font-size:18px;
	font-weight : bold;
}
.serchBar_input_p{
	height:30px;
	width: 320px;
}

.checkBox_content1{
	text-align:center;
	position: absolute;
	top:50px;
	left:256px;
	font-size:18px;
}

.c_hr{
	position: relative;
	top:275px;
	width: 101%;
}

.checkBox{
	position: relative;
	height:400px;
	width: 723px;
}

.checkBox_sub{
	font-size:20px;
}
.checkBox_content{
	text-align:center;
	position: absolute;
	top:50px;
	left:130px;
	font-size:18px;
}
.checkBox_input{
	height:35px;
	width: 250px;
}
.checkBox_input_div{
	position: absolute;
	top:100px;
	left:230px;
	font-size:18px;
}
.checkBox_button_div{
	position: absolute;
	top:170px;
	left:236px;
}
.checkBox_button{
	padding:8px; 19px;
	background-color:black;
	font-size:15px!important;
	width:250px;
	color: white;
	text-align:center;
	cursor:pointer
}
input[type=radio]+label:hover{
	background-color: #F05650;
}

input[type=radio]+label{
	display:inline-block;
	margin:-2px;
	padding:8px; 19px;
	background-color:#EEEEEE;
	font-size:13px!important;
	width:60px;
	color: white;
	text-align:center;
	cursor:pointer
}
input[type="radio"]:checked + label {
   background-color: #F05650;
}
.serchBar_button_1{
	opacity:0;
}
.serchBar_sub1{
	position: absolute;
	top:38px;
	left:23px;
	font-size:18px;
	font-weight : bold;
}
.serchBar_sub2{
	position: absolute;
	top:40px;
	left:23px;
	font-size:18px;
	font-weight : bold;
}

.EventSerchBarFeild{
	list-style-type:none;
}

.menuli{
    float:left;
    text-align:center;
}
.a_r{
	display: block;
	height:40px;
	width: 110px;
	background-color: gray;
	margin-left:4px;
	line-height: 40px;
	color:white;
}
.a{
	display: block;
	height:40px;
	width: 90px;
	background-color: gray;
	margin-left:3px;
	line-height: 40px;
	color:white;
}

.menuli > a:hover{
  background-color:#F05650;
}

.po_border{
	border-collapse: collapse;
	align:center;
	margin:auto; 
}
.po_content{
	width : 330px;
}
.po_type{
	width : 330px;
}
.my_guidepoint{
	width : 700px;
	text-align:center;
}

.serchBar_sub{
	position: absolute;
	top:65px;
	left:23px;
	font-size:18px;
	font-weight : bold;
}
.serchBar_type{
	position: absolute;
	left:120px;
	top:35px;
}
.serchBar_button{
	background-color: #4B89DC;
	cursor:pointer;
	color: white;
	outline:0;
	border:0;
	font-size:15px; 
	padding:5px 15px;
}
.serchBar_input{
	width : 150px;
	height: 40px;
}
.serchBar_i_button{
	background-color: black;
	cursor:pointer;
	color: white;
	outline:0;
	border:0;
	font-size:15px; 
	padding:5px 15px;
}
.serchBar_date{
	position: absolute;
	left:120px;
	top:30px;
}
.serchBar_usedCoupon{
	position: relative;
	display: block;
	border: 1px solid black;
	width : 600px;
	height: 100px;
	left: 65px;
}

.co_sub_op{
	font-size:15px;
	font-weight : bold;
}

th{
	border: 1px solid #444444;
	background-color : #EEEEEE;
}
td{
	border-bottom: 1px solid #EEEEEE;
    padding: 10px;
   
}

.joaMypage_ti{
	position: relative;
	bottom: 500px;
  	left: 90px;
  	margin: 0px auto;
  	width:730px;
  	height:auto;
  	 
}
.my_ticet{
	text-align: center;
	height:auto;
}
.ti_cl_div{
	
	
}
.ti_cancl_sub{
	font-size:20px;
	font-weight : bold;
}

.ti_cl_border{
	border-collapse: collapse;
	margin:auto; 
	text-align:center;
	align:center;
	width:700px;
	
}

.ti_border{
	border-collapse: collapse;
	margin:auto; 
	text-align:center;
	align:center;
	width:700px;
}

.ti_guide_1{
	font-size:20px;
}
.ti_guide_2{
	font-size:12px;
}
.ti_hr{
	border: 0px;
	height: 1px;
	background-color: #F05650;
	width : 99%;
	
}

d{
	color:red;
}

.tiket_subject{
	font-size:20px;
	font-weight : bold;
}

.sub_ob{
	font-size:12px;
}
.myMovie_button_div{
	position: absolute;
	top:15px;
	right:30px;
}

.myMovie_button{
	background-color: black;
	cursor:pointer;
	color: white;
	outline:0;
	border:0;
	font-size:13px; 
}

.gradebutton{
	background-color:#4B89DC;
	color: white;
	cursor:pointer;
	outline:0;
	border:0;
	font-size:15px; 
	padding:10px 60px;
}
.nickbutton{
	background-color: black;
	cursor:pointer;
	color: white;
	outline:0;
	border:0;
	font-size:13px; 
}
.myproF{
	position: absolute;
	top:30px;
	left:113px;
}
.mynickname{
	position: absolute;
	top:53px;
	left:250px;
}
.mygrade{
	position: absolute;
	top:93px;
	left:250px;
}
.li_o{
	 float: left;
}
.li_p{
	position: relative;
    float: left;
    margin-left: 25px;
    top:4px;
}
.li_i{
	 float: left;
    margin-left: 250px;
}
#li_p{
	left:50px;
}
l{
	position: relative;
	bottom:1px;	
	font-size:20px;
	font-weight : bold;
}
l1{
	font-size:15px
}
.hr{
	position: absolute;
	top:75px;
	 width : 70%;
	 left:230px;
}
.my_c_p{
	font-size:21px;
	font-weight : bold;
}
.mycoupon{
	position: absolute;
	bottom:50px;
	left:100px;
}
.mypoint{
	position: absolute;
	bottom:110px;
	right:280px;
}
.mypage_main{
	width: 1000px;
	
   	margin: 0px auto;
}

.myInformation{
	z-index:1;
	position: relative;
	border: 0px; 
	padding: 50px 50px 0px 50px;
	margin: 0px auto;
	height: 320px; 
	width: 800px;
	overflow: auto;
	background-color : #EEEEEE;
}

.joaMypage_home{
	position: relative;
	bottom: 500px;
  	left: 230px;
  	margin: 0px auto;
  	overflow: auto;
}
.joaMypage_home1{
	position: relative;
	bottom: 500px;
  	left: 230px;
  	margin: 0px auto;
  	overflow: auto;
  	height: 500px; 

}


.mythreelink{
	font-size: 13px;
	position: relative;
	border: 0px; 
	padding: 0px;
	height: 150px; 
	width: 723px;
	overflow: auto;
	background-color : #E0E0E0;
	
}

.myfavoritesmovie{
	position: absolute;
	bottom: 20px;
	float: left;
	left: 70px;
	border: 0px; 
	padding: 0px;
	overflow: auto;
	background-color : #E0E0E0;
}

.mywatchingmovie{
	position: absolute;
	bottom: 20px;
	float: left;
	left: 300px;
	border: 0px; 
	padding: 0px;
	overflow: auto;
	background-color : #E0E0E0;
}

.mywrite{
	position: absolute;
	bottom: 20px;
	left: 540px;
	float: left;
	border: 0px; 
	padding: 0px;
	overflow: auto;
	
}
.myfavoritesmovie_subject{
	font-size: 16px;
	font-weight: bold;
}
.mywatchingmovie_subject{
	font-size: 16px;
	font-weight: bold;
}
.mywrite_subject{
	font-size: 16px;
	font-weight: bold;
}