@charset "UTF-8";

@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/**store*/

.store_main{
	text-align:center;
}

.store_category{
	display:flex;
	width:1100px;
	margin:auto;
}

.store_category a{
	font-family: 'SUIT-Medium';
	padding-left:20px;
	padding-right:20px;
	font-size:20px;
	color:black;
}

.store_container{
	padding-bottom:10px;
	display:flex;
	flex:2;
	align-items:center;
	max-width:1100px;
	margin:auto;

}

.store_container .left{
	flex:1;
	padding-left:50px;	
	align-items:center;
	justify-content:center;
	border-bottom:1px solid #969696;	
	
}
.store_container .right{
	flex:1;
	padding-left:50px;	
	align-items:center;
	justify-content:center;
	border-bottom:1px solid #969696;
}

.store_container .left h1, 
.store_container .right h1{
	padding-left:5px;
	padding-right:5px;
	margin:0;
	padding-bottom:10px;
	color:black;
}

.store_container span{
	float:right;
}

.store_spaceMaker{
	height:50px;	
}


/**product*/

.product_container{
	max-width:1100px;
	margin:auto;
}

.product_list_name{
	font-size:30px;
}

.product_list_price{
	font-size:20px;
}
.product_space{
	width:1100px;
    display: flex;
    flex:2;
    justify-content: center;
    align-items: center;
   	margin:auto;
}
.product_img{
	flex:1;

}
.product_select{
	flex:1;

}

.product_count{
	display:flex;
	
}

.product_right_price{
	float:right;
}

.product_info{
	max-width:1100px;
 	margin:auto;
}

/**store_cart*/

.store_cart_container{
	max-width:1100px;
	margin:auto;
}
.store_cart_table{
	border-top:3px solid black;
	border-bottom:1px solid black;
	width:1100px;
	border-collapse : collapse;
	text-align:center;
}

.store_cart_table th{
	background:#f8f8f8;
	padding-top:15px;
	padding-bottom:15px;
}

.store_cart_table td{
	border-top:1px solid #f3f3f3;
	padding-top:20px;
	padding-bottom:20px;
}
.store_cart_select_del{
	padding-top:30px;
	padding-bottom:30px;
}

.store_cart_total_payment{
	padding-top:30px;
	padding-bottom:30px;
}

.store_cart_total_payment_table{
	border-top:1px solid #838485;
	border-bottom:1px solid #838485;
	width:1100px;
	border-collapse : collapse;
	text-align:center;
}

.store_cart_total_payment_table th{
	background:#f8f8f8;
	padding-top:15px;
	padding-bottom:15px;
}

.store_cart_total_payment_table td{
	padding-top:20px;
	padding-bottom:20px;
}

.store_cart_title_img{
	text-align:center;
}

.store_cart_button_final{
	padding-top:30px;
	padding-bottom:50px;
	text-align:center;
}

